<footer class="footer">
    <div class="footer__left">
      <div class="footer__section">
        <strong>Dev Tools Showcase</strong>
        <a href="/about">About</a>
        <a href="#">Author</a>
        <a href="#">Technologies</a>
      </div>
  
      <div class="footer__section">
        <strong>For</strong>
        <a href="#">Teams</a>
        <a href="#">Community</a>
        <a href="#">Education</a>
      </div>
  
      <div class="footer__section">
        <strong>Social Media</strong>
        <a href="https://instagram.com" target="_blank" rel="noopener">Instagram</a>
        <a href="https://youtube.com" target="_blank" rel="noopener">YouTube</a>
      </div>
    </div>
  
    <div class="footer__right">
      <p><strong>Dev Tools Showcase</strong><br>2025 Kyiv<br>
        <em>Demo or it didn’t happen</em>
      </p>
    </div>
  </footer>
  