<header class="header_container">
    <!-- <div class="nav_container" aria-label="Main navigation"> -->
      <a href="/index" class="logo" aria-label="Go to homepage">
        <img src="/img/logo.png" alt="DevToolsShowcase logo" class="site_logo">
        <h4><span>DevTools</span>Showcase</h4>
      </a>
    <div class="menu_and_search">
      <nav>
        <ul class="header_menu">
          <li><a href="/index">Home</a></li>
          <li><a href="/tools">Tools</a></li>
          <li><a href="/index#about">About</a></li>
        </ul>
      </nav>
    <!-- </div> -->
    <div class="search_box">
        <input type="text" placeholder="Type to search" />
    </div>
    </div>
  </header>
  