<header class="header">
  <a href="/index" class="header__logo" aria-label="Go to homepage">
    <img src="/img/logo.png" alt="DevToolsShowcase logo" class="header__logo-image">
    <h4><span>DevTools</span>Showcase</h4>
  </a>

  <button class="header__burger"></button>

  <div class="menu-and-search">
    <nav class="header__nav">
      <ul class="header__menu">
        <li><a href="/index">Home</a></li>
        <li><a href="/tools">Tools</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>

    <div class="search-box">
      <input type="text" placeholder="Type to search" />
    </div>
  </div>
</header>

  