<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DevToolsShowcase</title>
  <link rel="icon" type="image/png" href="img/logo.png">
  <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</head>

<!-- HEADER -->

<body>

    <!-- HEADER -->

    <%- include('partials/header') %>

    <!-- MAIN CONTENT -->

    <main>

        <!-- TOOL DETAILS -->
        <section class="tool_details">
            <div class="tool_header">
                <img src="img/tool_photo2.png" alt="Tool logo" class="tool_logo">
                <div class="tool_header_text">
                    <h1>Tool Name</h1>
                    <p>Details about tool short description of it.</p>
                    <button class = "tool_button">Get Tool</button>
                </div>
            </div>

            <div class="tool_info">
                <p class="tool_type">Type of tool  .  Good side 1  .  Good side 2  .  Good side 3</p>
                <p class="tool_description">Description of tool Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam. </p>
            </div>
          
            <div class="tool_tabs">
                <button class="tab active">Overview</button>
                <button class="tab">Reviews</button>
                <button class="tab">Team</button>
                <button class="tab">More</button>
            </div>

            <div class="tool_gallery">
                <img src="img/tool_detail1.png" alt="Gallery image">
                <img src="img/tool_detail1.png" alt="Gallery image">
                <img src="img/tool_detail2.png" alt="Gallery image">
            </div>

            <div class="go_back_button">
                <a href="/tools" class="go_back">Go back</a>
            </div>

        </section>
  </main>

  <!-- FOOTER -->

  <%- include('partials/footer') %>
  
</body>
</html>
