<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DevToolsShowcase</title>
  <link rel="icon" type="image/png" href="img/logo.png">
  <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</head>

<!-- HEADER -->

<body>

    <!-- HEADER -->

    <%- include('partials/header') %>

    <!-- MAIN CONTENT -->

    <main>

        <!-- TOOLS LIST -->
        
        <section class="tools__list">
            <h2>Tools List</h2>
          
            <div class="tools__list-cards-container">
          
              <article class="tools__card">
                <a href="/details">
                  <img src="img/tool_photo1.png" alt="Tool preview photo">
                  <div class="tools__card-info">
                    <p class="topic">Topic</p>
                    <h3>Tool Name</h3>
                    <p>Details about tool short description of it.</p>
                    <p class="info"><strong>Author | Date</strong></p>
                  </div>
                </a>
              </article>
          
              <article class="tools__card">
                <a href="/details">
                  <img src="img/tool_photo2.png" alt="Tool preview photo">
                  <div class="tools__card-info">
                    <p class="topic">Topic</p>
                    <h3>Tool Name</h3>
                    <p>Details about tool short description of it.</p>
                    <p class="info"><strong>Author | Date</strong></p>
                  </div>
                </a>
              </article>
          
              <article class="tools__card">
                <a href="/details">
                  <img src="img/tool_photo3.png" alt="Tool preview photo">
                  <div class="tools__card-info">
                    <p class="topic">Topic</p>
                    <h3>Tool Name</h3>
                    <p>Details about tool short description of it.</p>
                    <p class="info"><strong>Author | Date</strong></p>
                  </div>
                </a>
              </article>
          
              <article class="tools__card">
                <a href="/details">
                  <img src="img/tool_photo4.png" alt="Tool preview photo">
                  <div class="tools__card-info">
                    <p class="topic">Topic</p>
                    <h3>Tool Name</h3>
                    <p>Details about tool short description of it.</p>
                    <p class="info"><strong>Author | Date</strong></p>
                  </div>
                </a>
              </article>
          
              <article class="tools__card">
                <a href="/details">
                  <img src="img/tool_photo5.png" alt="Tool preview photo">
                  <div class="tools__card-info">
                    <p class="topic">Topic</p>
                    <h3>Tool Name</h3>
                    <p>Details about tool short description of it.</p>
                    <p class="info"><strong>Author | Date</strong></p>
                  </div>
                </a>
              </article>
          
              <article class="tools__card">
                <a href="/details">
                  <img src="img/tool_photo6.png" alt="Tool preview photo">
                  <div class="tools__card-info">
                    <p class="topic">Topic</p>
                    <h3>Tool Name</h3>
                    <p>Details about tool short description of it.</p>
                    <p class="info"><strong>Author | Date</strong></p>
                  </div>
                </a>
              </article>
          
            </div>
          
            <div class="see_page_button">
              <a href="/tools" class="see_page">Next page</a>
            </div>
        </section>
  
  </main>

  <!-- FOOTER -->

  <%- include('partials/footer') %>
  
</body>
</html>
