@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

$font-main: "Exo", sans-serif;
$font-second: "Quicksand", sans-serif;
$font-bold: "Quicksand", sans-serif;

//$color-bg: #ffffff;
//$color-text: #222;
//$color-primary: #5b7fff;
//$color-accent: #b266ff;

$primary-color: #F0FA62;
$secondary-color: #262626;
$background-color: #4F4F4F;
$attantion-color: #9C44D7;
$white: #FFFFFF;

$break-m: 768px;
$break-l: 1200px;

$break-l: 1024px;
$break-m: 768px;
$break-s: 480px;
