.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  padding-top: 0;

  &__picture {
    position: absolute;
    top: 17%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }

  &__overlay {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    max-width: 600px;
    z-index: 10;
    color: $white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
}
